// ==========================================================================
// Posts and pages
// ==========================================================================


.sticky {
	display: block;
}

// Link posts
.hentry {
	position: relative;
	padding: em( 15px );
	border-bottom: 1px solid $grey;
	font-weight: 300;

	@include breakpoint( M ) {
		padding: em( 30px );
	}
	@media only screen and ( -webkit-min-device-pixel-ratio: 1.5 ),
	only screen and ( min-resolution: 144dpi ) {
		font-weight: 400;
	}
	&:hover {
		background: #fff;
	}
	.entry-content {
		p,// TODO have someone write some PHP to limit content
		a {
			margin: 0;
			white-space: pre;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.entry-footer {
	margin-top: em( 7px );
	font-size: em( 14px );

	.cat-links,
	.tags-links {
		a {
			display: inline-block;
			margin-right: 6px;
			color: darken( $grey, 10% );
			text-transform: lowercase;

			&:hover,
			&:focus,
			&:active {
				color: $orange;
			}
			&:before {
				content: "#";
				margin-right: em( 1px, 14px );
			}
		}
	}
}

.post-edit-link {
	position: absolute;
		top: 50%;
		right: 30px;
	transform: translateY( -50% );
}



.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-header {
	padding: em( 30px );
	background: $grey-dark;
}
.page-title {
	margin: 0;
	color: $grey-light;
	font-size: em( 30px );
	font-weight: 300;

	span {
		color: #fff;
		font-weight: 400;
	}
}
