// ==========================================================================
// Button variables
// ==========================================================================

$buttons:(
	primary__background: $blue,
	primary__color: #fff,

	secondary__background: $grey-light,
	secondary__color: $blue-dark,

	shadow-color--focus: $blue,
	shadow-size--focus: 3px
);
