// ==========================================================================
// Button variables
// ==========================================================================

$buttons:(
	primary__background: $blue,
	primary__color: #fff,

	secondary__background: #f7f7f7,
	secondary__color: #555
);
