// ==========================================================================
// Main navigation
// ==========================================================================


.main-navigation {
	// clear: both;
	display: block;
	// float: left;
	font-size: em( 14px );
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul a {
			padding-left: 20px;
		}
		ul ul a {
			padding-left: 40px;
		}
		ul ul ul a {
			padding-left: 60px;
		}
	}
	li {
		position: relative;
	}
	a {
		display: block;
		padding: 12px;
		font-weight: 300;
		color: $grey;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

.menu-item-object-category {
	a:before {
			content: "#";
			margin-right: em( 1px, 14px );
	}
}

/* Small menu. */
.menu-toggle {
	display: none;
	width: 100%;
	border-radius: 0;
	background: transparent;
	color: $grey;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
}

@include breakpoint( M- ) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation .nav-menu {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
