// ==========================================================================
// Colors
// ==========================================================================

$grey-light: #eff0f4;
$grey: #c8ceda;
$grey-dark: #50545f;

$blue: #4795dc;
$blue-dark: #2c3342;

$orange: #e85f3d;
$orange-light: #ef7955;
